<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0.9.5</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>AppVersion</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Contact</string>
			<key>Title</key>
			<string>Contact Us</string>
			<key>Key</key>
			<string>ContactChildPane</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Frequent: 3 reminders (1 week before, one day before and another on the day of the trip); Normal: 2 reminders (1 week before and another on the day before the trip); Minimal: 1 reminder (on the day before the trip)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Notification</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Medicine reminder</string>
			<key>Key</key>
			<string>MedicineReminderSwitch</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<string>Frequent</string>
				<string>Normal</string>
				<string>Minimal</string>
				<string>Off</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Frequent</string>
				<string>Normal</string>
				<string>Minimal</string>
				<string>Off</string>
			</array>
			<key>Title</key>
			<string>Trip reminder frequency:</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>TripReminderOption</string>
			<key>DefaultValue</key>
			<string>Frequent</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>This will delete all information stored. It is not reversible.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Clear Data</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Clear Trip History</string>
			<key>Key</key>
			<string>ClearTripHistory</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Clear Medicine History</string>
			<key>Key</key>
			<string>ClearMedicineHistory</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
